{% extends 'layout.master' %}
{% block main %}
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ site.name }}&nbsp;&nbsp;<span id="watchWrapper"></span></h2>
            <br>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <!-- Nav tabs -->
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                {% if can_manage %}
                <li role="presentation"><a href="#Setting" role="tab" data-toggle="tab">项目配置</a></li>
                <li role="presentation"><a href="#DeploySetting" role="tab" data-toggle="tab">发布配置</a></li>
                <li role="presentation"><a href="#HostType" role="tab" data-toggle="tab">机器分组</a></li>
                <li role="presentation"><a href="#Hosts" role="tab" data-toggle="tab">机器配置</a></li>
                {% endif %}
                <li role="presentation"><a href="#Build" role="tab" data-toggle="tab">Build</a></li>
                <li role="presentation"><a href="#Deploy" role="tab" data-toggle="tab">Deploy</a></li>
                <li role="presentation"><a href="#PrBuild" role="tab" data-toggle="tab">PR Build</a></li>
                <li role="presentation"><a href="#PrDeploy" role="tab" data-toggle="tab">PR Deploy</a></li>
            </ul>
            <br>

            <!-- Tab panes -->
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane" id="Setting"></div>
                <div role="tabpanel" class="tab-pane" id="DeploySetting"></div>
                <div role="tabpanel" class="tab-pane" id="HostType">
                    <div class="row">
                    {% if can_manage %}
                        <div class="col-lg-12"><button class="btn btn-primary" id="newHostType">新增</button></div>
                    {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="hostTypeTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>HostType</th>
                                        <th>环境</th>
                                        <th>修改</th>
                                        <th>删除</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Hosts">
                    <div class="row">
                    {% if can_manage %}
                        <div class="col-lg-12"><button class="btn btn-primary" id="newHost">新增</button>&nbsp;&nbsp;&nbsp;<button class="btn btn-primary" id="newHostMany">批量添加</button></div>
                    {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="hostsTable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>机器名</th>
                                        <th>IP</th>
                                        <th>SSH 端口</th>
                                        <th>机器分组</th>
                                        <th>发布类型</th>
                                        <th>修改</th>
                                        <th>删除</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Build">
                    <div class="row">
                        <div class="col-lg-12" id="buildFormWrapper">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="buildTable" class="table table-hover small-table">
                                <thead>
                                    <tr>
                                        <th>Job</th>
                                        <th>Checkout</th>
                                        <th>Commit</th>
                                        <th>状态</th>
                                        <th>操作者</th>
                                        <th>创建时间</th>
                                        <th>耗时(s)</th>
                                        <th max-width="80">详细</th>
                                        <th>发布</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Deploy">
                    <div class="row">
                        <div class="col-lg-12" id="deployJobWrapper">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="deploysTable" class="table table-hover small-table">
                                <thead>
                                    <tr>
                                        <th>Job</th>
                                        <th>Commit</th>
                                        <th>发布到</th>
                                        <th>状态</th>
                                        <th>主机数</th>
                                        <th>操作者</th>
                                        <th>创建时间</th>
                                        <th>耗时(s)</th>
                                        <th>详细输出</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="PrBuild">
                    <div class="row">
                        <div class="col-lg-12">
                            Webhooks Url: {{payload_url}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="prBuildTable" class="table table-hover small-table">
                                <thead>
                                    <tr>
                                        <th>Num</th>
                                        <th min-width="220">Title</th>
                                        <th>Commit</th>
                                        <th>用户</th>
                                        <th>状态</th>
                                        <th>Build</th>
                                        <th>Test</th>
                                        <th max-width="150">创建时间</th>
                                        <th>耗时(s)</th>
                                        <th>详细</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="PrDeploy">
                    <div class="row">
                        <div class="col-lg-12" id="prDeployJobWrapper">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="prDeploysTable" class="table table-hover small-table">
                                <thead>
                                    <tr>
                                        <th>Job</th>
                                        <th>Commit</th>
                                        <th>发布到</th>
                                        <th>状态</th>
                                        <th>主机数</th>
                                        <th>操作者</th>
                                        <th>创建时间</th>
                                        <th>耗时(s)</th>
                                        <th>详细输出</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="JobInfo"></div>
            </div>
        </div>
    </div>
{% endblock main %}
{% block footer_js %}
<script>
var siteObj = {{ site | raw }};
var siteId = {{ site.id }};
var gitRepo = '{{ site.repo_git }}';

var projectUrl = (function () {
    var match = gitRepo.match(/git@github.com:(.+).git/);
    if (match) {
        return match[1];
    }
    return null;
})();

var defaultBranch = '{{ site.default_branch }}';
var csrfToken = '{{ csrf_token() }}';
var timeoutEvent = null;
var refreshInterval = null;
var prevJobId = null;

var labels = {"open" : "info", "closed" : "default", "Error" : "danger", "Waiting" : "default", "Success": "success", "Doing" : "info", "Fatal" : "danger", "Abort" : "warning", 'Deploying': 'info', 'Have Error': 'warning', 'Kill' : 'warning'};

function convertDate(str)
{
    return str.replace(/-/g, "/");
}

function clearNj(hash)
{
    if (hash.substr(-3) == '-nj') {
        return hash.substr(0, hash.length -3);
    }
    return hash;
}

function addNj(hash)
{
    if (hash.substr(-3) == '-nj') {
        return hash;
    }
    return hash + '-nj';
}

$(function () {
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
        return false;
    });

    var showPrDeploy = function () {
        var table = null;
        var timeoutEvent = createTimeoutEvent();
        return function () {
            timeoutEvent.clear();
            if (table == null) {
                table = $('#prDeploysTable').DataTable({
                    ajax: '/api/site/' + siteId + '/deploy?type=prdeploy',
                    paging: false,
                    ordering: false,
                    info: false,
                    columns: [
                        {data: 'job_id'},
                        {data: 'commit'},
                        {data: 'description'},
                        {data: 'status'},
                        {data: 'id'},
                        {data: 'user'},
                        {data: 'created_at'},
                        {data: 'updated_at'},
                        {data: 'job_id'},

                    ],
                    columnDefs: [
                    {
                        render: function (data, type, row) {
                            return data.name;
                        },
                        targets: 5
                    },
                    {
                        render: function (data, type, row) {
                            return data.substr(0, 7);
                        },
                        targets: 1
                    },
                    {
                        render: function  (data, type, row) {
                            var status = data;
                            if (row.total_hosts == row.error_hosts) {
                                status = 'Error';
                            } else if (row.error_hosts > 0) {
                                status = 'Have Error';
                            }
                            return '<span class="label label-' + labels[status] + '">' + status + '</span>';
                        },
                        targets: 3
                    },
                    {
                        render: function (data, type, row) {
                            return Math.ceil(((new Date(convertDate(data))).getTime() - (new Date(convertDate(row.created_at))).getTime()) / 1000);
                        },
                        targets: 7
                    },
                    {
                        render: function  (data, type, row) {
                            return '<button class="btn btn-primary btn-xs btnShowJobHost" data-job-id="' + data + '">详细输出</button>';
                        },
                        targets: 8
                    },
                    {
                        render: function (data, type, row) {
                            return '<span class="label label-default label-num">' + row.total_hosts + '</span><span class="label label-success label-num">' + row.success_hosts +'</span><span class="label label-danger label-num">' + row.error_hosts + '</span>';
                        },
                        targets: 4
                    }
                    ]
                });
            } else {
                table.ajax.reload();
            }

            $('#prDeploysTable').unbind('draw.dt');
            $('#prDeploysTable').on('draw.dt', function (e) {
                initJobBtn();
                timeoutEvent.timeout = window.setTimeout(table.ajax.reload, 5000);
            }.bind(timeoutEvent, table));

            var commit = $('#myTab a[href="#PrDeploy"]').attr('data-to-deploy');
            $('#myTab a[href="#PrDeploy"]').attr('data-to-deploy', '');
            renderDeployJob(document.getElementById("prDeployJobWrapper"), siteId, 'prdeploy', commit);

            return timeoutEvent;
        };
    }();

    var showDeploy = function () {
        var table = null;
        var timeoutEvent = createTimeoutEvent();
        return function () {
            timeoutEvent.clear();
            var labels = {"open" : "info", "closed" : "default", "Error" : "danger", "Waiting" : "default", "Success": "success", "Doing" : "info", "Fatal" : "danger", "Abort" : "warning", "Deploying" : "info", "Have Error": "warning", 'Kill' : 'warning'};
            if (table === null) {
                table = $("#deploysTable").DataTable({
                    ajax: '/api/site/' + siteId + '/deploy?type=deploy',
                    paging: false,
                    ordering: false,
                    info: false,
                    columns: [
                        {data: 'job_id'},
                        {data: 'commit'},
                        {data: 'description'},
                        {data: 'status'},
                        {data: 'id'},
                        {data: 'user'},
                        {data: 'created_at'},
                        {data: 'updated_at'},
                        {data: 'job_id'},
                        {data: 'job_id'}
                    ],
                    columnDefs: [
                    {
                        render: function (data, type, row) {
                            var commit = data;
                            data = data.substr(0, 7);
                            if (projectUrl) {
                                return '<a href="https://github.com/' + projectUrl + '/commit/' + commit + '" target="_blank">' + data + '</a>'
                            }
                            return data;
                        },
                        targets: 1
                    },
                    {
                        render: function (data, type, row) {
                            return data.name;
                        },
                        targets: 5
                    },
                    {
                        render: function (data, type, row) {
                            return data.substr(5);
                        },
                        targets: 6
                    },
                    {
                        render: function  (data, type, row) {
                            var status = data;
                            if (row.total_hosts == row.error_hosts) {
                                status = 'Error';
                            } else if (row.error_hosts > 0 && status != 'Kill') {
                                status = 'Have Error';
                            }
                            return '<span class="label label-' + labels[status] + '">' + status + '</span>';
                        },
                        targets: 3
                    },
                    {
                        render: function (data, type, row) {
                            var html =""
                            html += '<button class="btn btn-primary btn-xs btnShowJobHost" data-job-id="' + data + '">详细输出</button>';
                            return html;
                        },
                        targets: 8
                    },
                    {
                        render: function (data, type, row) {
                            var html = "";
                            if (row.success_hosts == row.total_hosts) {
                                html += '<button data-loading-text="回滚" class="btn btn-warning btn-xs btnRollback" data-commit="' + row.commit + '" data-deploy-kind="' + row.deploy_kind + '" data-deploy-to="' + row.deploy_to + '">回滚</button>';
                            }
                            return html;
                        },
                        targets: 9
                    },
                    {
                        render: function (data, type, row) {
                            return Math.ceil(((new Date(convertDate(data))).getTime() - (new Date(convertDate(row.created_at))).getTime()) / 1000);
                        },
                        targets: 7
                    },
                    {
                        render: function (data, type, row) {
                            return '<span class="label label-default label-num">' + row.total_hosts + '</span><span class="label label-success label-num">' + row.success_hosts +'</span><span class="label label-danger label-num">' + row.error_hosts + '</span>';
                        },
                        targets: 4
                    }
                    ]
                });
            } else {
                table.ajax.reload();
            }

            $('#deploysTable').unbind('draw.dt');
            $('#deploysTable').on('draw.dt', function (e) {
                initJobBtn();
                timeoutEvent.timeout = window.setTimeout(table.ajax.reload, 5000);
            }.bind(timeoutEvent, table));

            var commit = $('#myTab a[href="#Deploy"]').attr('data-to-deploy');
            $('#myTab a[href="#Deploy"]').attr('data-to-deploy', '');
            renderDeployJob(document.getElementById("deployJobWrapper"), siteId, 'deploy', commit);

            return timeoutEvent;
        };
    }();

    var showPrBuilds = function () {
        var table = null;
        var timeoutEvent = createTimeoutEvent();
        return function () {
            timeoutEvent.clear();
            var labels = {"open" : "info", "closed" : "default", "Error" : "danger", "Waiting" : "default", "Success": "success", "Doing" : "info", "Fatal" : "danger", "Abort" : "warning", "Deploying": 'info'};
            if (table === null) {
                table = $("#prBuildTable").DataTable({
                    ajax: '/api/site/' + siteId + '/prbuild',
                    paging: false,
                    ordering: false,
                    info: false,
                    columns: [
                        {data: 'job_id'},
                        {data: 'title'},
                        {data: 'commit'},
                        {data: 'user_login'},
                        {data: 'status'},
                        {data: 'build_status'},
                        {data: 'test_status'},
                        {data: 'created_at'},
                        {data: 'updated_at'},
                        {data: 'job_id'},
                        {data: 'job_id'},
                    ],
                    createdRow: function (row, data, index) {
                        /*if (data.status == 'open') {*/
                            /*if (data.build_status == 'Error' || data.test_status == 'Error') {*/
                                /*$(row).addClass("danger");*/
                            /*} else {*/
                                /*$(row).addClass("success");*/
                            /*}*/
                        /*}*/
                    },
                    columnDefs: [
                    {
                        render: function (data, type, row) {
                            return '<a href="https://github.com/' + row.repo_name + '/pull/' + row.number + '" target="_blank">' + row.number + '</a>'
                        },
                        targets: 0
                    },
                    {
                        render: function (data, type, row) {
                            if (row.status == 'open' && (row.build_status == 'Error' || row.test_status == 'Error' )) {
                                return '<button class="btn btn-primary btn-xs btnRebuild" data-pr-id="' + row.id + '"/>Rebuild</button>';
                            } else if (row.status == 'open' && row.build_status == 'Success' && row.test_status == 'Success') {
                                return '<button class="btn btn-primary btn-xs btnToDeploy" data-type="#PrDeploy" data-commit="' + row.commit + '"/>Deploy</button>';
                            }
                            return '<i>无</i>';
                        },
                        targets: 10
                    },
                    {
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-xs btnOpenJob" data-job-id="' + data + '"/>详细输出</button>';
                        },
                        targets: 9
                    },
                    {
                        render: function (data, type, row) {
                            return Math.ceil(((new Date(convertDate(data))).getTime() - (new Date(convertDate(row.created_at))).getTime()) / 1000);
                        },
                        targets: 8
                    },
                    {
                        render: function (data, type, row) {
                            return '<a target="_blank" href="https://github.com/' + data + '">' + data + '</a>';
                        },
                        targets: 3
                    },
                    {
                        render: function (data, type, row) {
                            return data.substr(5);
                        },
                        targets: 7
                    },
                    {
                        render: function (data, type, row) {
                            return data.substr(0, 7);
                        },
                        targets: 2
                    },
                    {
                        render: function (data, type, row) {
                            if (data == 'closed') {
                                return 'Merged(<a target="_blank" href="https://github.com/' + row.merged_by +'">' + row.merged_by + '</a>)';
                            }
                            return '<span class="label label-' + labels[data] + '">' + data + '</span>';
                        },
                        targets: 4
                    },
                    {
                        render: function (data, type, row) {
                            return '<span class="label label-' + labels[data] + '">' + data + '</span>';
                        },
                        targets: 5
                    },
                    {
                        render: function (data, type, row) {
                            return '<span class="label label-' + labels[data] + '">' + data + '</span>';
                        },
                        targets: 6
                    }
                    ]
                });
            } else {
                table.ajax.reload();
            }

            $('#prBuildTable').unbind('draw.dt');
            $('#prBuildTable').on('draw.dt', function (e) {
                initJobBtn();
                timeoutEvent.timeout = window.setTimeout(table.ajax.reload, 5000);
                $('.btnRebuild').click(function (data) {
                    var btn  = $(this);
                    $(btn).button('loading');
                    $.post('/api/site/' + siteId + '/prrebuild', {
                        _method: 'PUT',
                        _token: csrfToken,
                        pr_id: btn.attr('data-pr-id')
                    }, function (data) {
                        if (data.code == 0) {
                            location.hash = addNj('#JobInfo-' + data.data.jobId);
                        } else {
                            alert(data.msg);
                        }
                    }, 'json');
                });
            }.bind(timeoutEvent, table));

            return timeoutEvent;
        };
    }();

    var showJobInfo = function (jobId) {
        prevJobId = jobId;
        $("#myTab").append('<li role="presentation"><a href="#JobInfo-' + prevJobId + '" data-job-id="' + prevJobId + '" role="tab" data-toggle="tab">Job #' + prevJobId + '</a></li>');
        $("#myTabContent").append('<div role="tabpanel" class="tab-pane" id="JobInfo-' + prevJobId + '"></div>');
        initBtn();
        $('#myTab a:last').tab('show');
    };

    var showJobHostInfo = function (jobId) {
        prevJobId = jobId;
        $("#myTab").append('<li role="presentation"><a href="#JobHost-' + prevJobId + '" data-job-id="' + prevJobId + '" role="tab" data-toggle="tab">Job #' + prevJobId + '</a></li>');
        $("#myTabContent").append('<div role="tabpanel" class="tab-pane" id="JobHost-' + prevJobId + '"></div>');
        initBtn();
        $('#myTab a:last').tab('show');
    };

    var initJobBtn = function () {
        $('.btnOpenJob').click(function (data) {
            var btn = $(this);
            btn.button('loading');
            showJobInfo(btn.attr('data-job-id'));
            btn.button('reset');
        });
        $('.btnShowJobHost').click(function (data) {
            var btn = $(this);
            btn.button('loading');
            showJobHostInfo(btn.attr('data-job-id'));
            btn.button('reset');
        });
        $('.btnRollback').click(function (data) {
            var btn = $(this);
            if (confirm("确定要回滚到" + btn.attr('data-commit').substr(0, 7) + '吗?')) {
                btn.button('loading');
                $.post('/api/site/' + siteId + '/deploy?type=deploy', {
                    _token: csrfToken,
                    commit: btn.attr('data-commit'),
                    deploy_to: btn.attr('data-deploy-to'),
                    deploy_kind: btn.attr('data-deploy-kind'),
                }, function (data) {
                    btn.button('reset');
                    if (data.code == 0) {
                        location.hash = '#JobHost-' + data.data.jobId + '-nj';
                    } else {
                        alert(data.msg);
                    }
                }, 'json');
            }
        });
        $('.btnToDeploy').click(function (e) {
            $('#myTab a[href="' + $(this).attr('data-type') + '"]').attr("data-to-deploy", $(this).attr('data-commit'));
            $('#myTab a[href="' + $(this).attr('data-type') + '"]').tab("show");
        });
    };

    var showBuilds = function () {
        var table = null;
        var timeoutEvent = createTimeoutEvent();
        return function () {
            timeoutEvent.clear();
            if (table == null) {
                table = $("#buildTable").DataTable({
                    ajax: '/api/site/' + siteId + '/build',
                    paging: false,
                    ordering: false,
                    info: false,
                    columns: [
                        {data: 'job_id'},
                        {data: 'checkout'},
                        {data: 'commit'},
                        {data: 'status'},
                        {data: 'user'},
                        {data: 'created_at'},
                        {data: 'updated_at'},
                        {data: 'job_id'},
                        {data: 'commit'},
                    ],
                    createdRow: function (row, data, index) {
                    },
                    columnDefs: [
                    {
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-xs btnToDeploy" data-type="#Deploy" data-commit="' + data + '"/>Deploy</button>';
                        },
                        targets: 8,
                    },
                    {
                        render: function (data, type, row) {
                            return '<button class="btn btn-primary btn-xs btnOpenJob" data-job-id="' + data + '"/>详细输出</button>';
                        },
                        targets: 7,
                    },
                    {
                        render: function (data, type, row) {
                            return Math.ceil(((new Date(convertDate(data))).getTime() - (new Date(convertDate(row.created_at))).getTime()) / 1000);
                        },
                        targets: 6
                    },
                    {
                        render: function (data, type, row) {
                            var commit = data;
                            data = data == '' ? ' ------ ' : data.substr(0, 7);
                            if (projectUrl && commit) {
                                return '<a href="https://github.com/' + projectUrl + '/commit/' + commit + '" target="_blank">' + data + '</a>'
                            }
                            return data;
                        },
                        targets: 2
                    },
                    {
                        render: function (data, type, row) {
                            var cls = {"Waiting":"label-default", "Building":"label-info", "Success":"label-success", "Error":"label-danger"};
                            return '<span class="label '+ cls[data] +'">' + data +  '</span>';
                        },
                        targets: 3
                    },
                    {
                        render: function (data, type, row) {
                            return data.name;
                        },
                        targets: 4
                    }
                    ]
                });
            } else {
                table.ajax.reload();
            }

            renderNewBuildForm(document.getElementById('buildFormWrapper'), {checkout: defaultBranch}, table.ajax.reload);

            $('#buildTable').unbind('draw.dt');
            $('#buildTable').on('draw.dt', function (e) {
                initJobBtn();
                timeoutEvent.timeout = window.setTimeout(table.ajax.reload, 5000);
            }.bind(timeoutEvent, table));

            return timeoutEvent;
        };
    }();

    var showHosts = function () {
        var table = null;
        return function () {
            if (table === null) {
                table = $("#hostsTable").DataTable({
                    ajax: '/api/site/' + siteId + "/host",
                    paging: false,
                    ordering: false,
                    info: false,
                    columns: [
                        {data: 'name'},
                        {data: 'ip'},
                        {data: 'port'},
                        {data: 'host_type'},
                        {data: 'type'},
                        {data: 'id'},
                        {data: 'id'},
                    ],
                    columnDefs:
                    [
                    {
                        render: function (data, type, row) {
                            return data.name;
                        },
                        targets: 3,
                    },
                    {
                        render: function (data, type, row) {
                            var clss = data == 'APP' ? 'label-success' : 'label-default';
                            return "<span class=\"label " + clss + "\">" + data + "</span>";
                        },
                        targets: 4
                    },
                    {
                        render: function (data, type, row) {
                            return "<button class=\"btn btn-warning btn-xs btnHostDelete\" data-name=\""+ row.name +"\" data-id=\"" + data + "\">删除</button>";
                        },
                        targets: 6
                    },
                    {
                        render: function (data, type, row) {
                            return "<button class=\"btn btn-primary btn-xs btnHostEdit\" data-json='" + JSON.stringify(row) + "' data-name=\""+ row.name +"\">修改</button>";
                        },
                        targets: 5
                    }
                    ]
                });
            } else {
                /*table.ajax.url('/api/site/' + siteId + "/host").load();*/
                table.ajax.reload();
            }

            $('#newHost').unbind('click');
            $('#newHost').click(function (data) {
                var btn = $(this);
                btn.button('loading');
                $.getJSON('/api/site/' + siteId + '/hosttype', function (data) {
                    btn.button('reset');
                    if (data.code == 0) {
                        renderSiteHosts(normalModalWrapper, 'new', {host_types: data.data}, table.ajax.reload);
                    } else {
                        alert(data.msg);
                    }
                });
            });
            $('#newHostMany').unbind('click');
            $('#newHostMany').click(function (e) {
                var btn = $(this);
                btn.button('loading');
                $.getJSON('/api/site/' + siteId + '/hosttype', function (data) {
                    btn.button('reset');
                    if (data.code == 0) {
                        renderSiteHostsMany(normalModalWrapper, {host_types: data.data}, table.ajax.reload);
                    } else {
                        alert(data.msg);
                    }
                });
            });

            $('#hostsTable').unbind('click');
            $('#hostsTable').on('click', '.btnHostEdit', function (e) {
                var btn = $(this);
                btn.button('loading');
                $.getJSON('/api/site/' + siteId + '/hosttype', function (data) {
                    btn.button('reset');
                    if (data.code == 0) {
                        var host = eval('(' + btn.attr('data-json') + ')');
                        renderSiteHosts(normalModalWrapper, 'edit', {host: host, host_types: data.data}, table.ajax.reload);
                    } else {
                        alert(data.msg);
                    }
                });
            });

            $('#hostsTable').on('click', '.btnHostDelete', function (e) {
                var btn = $(this);
                if (confirm("确定要删除主机" + btn.attr("data-name") + "吗")) {
                    btn.button('loading');
                    $.post('/api/site/' + siteId + '/host/' + btn.attr('data-id'), {
                        _token: csrfToken,
                        _method: 'DELETE',
                    }, function (data) {
                        btn.button('reset');
                        if (data.code == 0) {
                            table.ajax.reload();
                        } else {
                            alert(data.msg);
                        }
                    }, 'json');
                }
            });
        };
    }();

    var showHostType = function () {
        var table = null;
        var dataUrl = '';
        return function () {
            if (table === null) {
                table = $("#hostTypeTable").DataTable({
                    ajax: '/api/site/' + siteId + "/hosttype",
                    paging: false,
                    ordering: false,
                    info: false,
                    columns: [
                        {data: 'id'},
                        {data: 'name'},
                        {data: 'catalog'},
                        {data: 'id'},
                        {data: 'id'},
                    ],
                    columnDefs:
                    [
                        {
                            render: function (data, type, row) {
                                return data.name;
                            },
                            targets: 2,
                        },
                        {
                            render: function (data, type, row) {
                                return "<button class=\"btn btn-primary btn-xs btnHostTypeEdit\" data-json=\'" + JSON.stringify(row) + "\'>修改</button>";
                            },
                            targets: 3,
                        },
                        {
                            render: function (data, type, row) {
                                return "<button class=\"btn btn-warning btn-xs btnHostTypeDelete\" data-name=\""+ row.name +"\" data-id=\"" + data + "\">删除</button>";
                            },
                            targets: 4
                        }
                    ]
                });
            } else {
                table.ajax.reload();
            }

            $("#newHostType").unbind('click');
            $("#newHostType").click(function (e) {
                var btn = $(this);
                btn.button('loading');
                $.getJSON('/api/site/' + siteId + '/hosttypecatalog', function (data) {
                    btn.button('reset');
                    if (data.code == 0) {
                        renderSiteHostType(normalModalWrapper, 'new', {'catalogs' : data.data}, table.ajax.reload);
                    } else {
                        alert(data.msg);
                    }
                });
            });

            $('#hostTypeTable').unbind('click');
            $('#hostTypeTable').on('click', '.btnHostTypeDelete', function (e) {
                var btn = $(this);
                btn.button('loading');
                if (confirm("确定要删除 " + btn.attr('data-name') + "吗？")) {
                    $.post('/api/site/' + siteId + '/hosttype/' + btn.attr('data-id'), {
                        _token: csrfToken,
                        _method: 'DELETE'
                    }, function (data) {
                        btn.button('reset');
                        if (data.code == 0) {
                            table.ajax.reload();
                        } else {
                            alert(data.msg);
                        }
                    }, 'json');
                }
            });
            $('#hostTypeTable').on('click', '.btnHostTypeEdit', function (e) {
                var btn = $(this);
                btn.button('loading');
                $.getJSON('/api/site/' + siteId + '/hosttypecatalog', function (data) {
                    btn.button('reset');
                    if (data.code == 0) {
                        var hosttype = eval('(' + btn.attr('data-json') + ')');
                        renderSiteHostType(normalModalWrapper, 'edit', {hosttype: hosttype, 'catalogs' : data.data}, table.ajax.reload);
                    } else {
                        alert(data.msg);
                    }
                });
            });
        }
    }();

    var initBtn = function () {
        $('a[data-toggle="tab"]').unbind('shown.bs.tab');
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var prevTab = $(e.relatedTarget);
            var pHref = prevTab.attr('href');
            if (pHref != undefined && (pHref.substr(0, 8) == '#JobInfo' || pHref.substr(0, 8) == '#JobHost')) {
                prevTab.remove();
                $(prevTab.attr('href')).remove();
            }

            if (timeoutEvent !== null) {
                timeoutEvent.clear();
                timeoutEvent = null;
            }

            if (refreshInterval !== null) {
                window.clearInterval(refreshInterval);
                refreshInterval = null;
            }

            var url = null;
            var render = null;
            var element = null
            var thisTab = $(e.target);
            location.hash = addNj(thisTab.attr('href'));

            /*console.log(thisTab.attr('href'));*/
            if (thisTab.attr('href').substr(0, 8) == '#JobHost') {
                timeoutEvent = renderJobInfo(document.getElementById(thisTab.attr('href').substr(1)), thisTab.attr('data-job-id'), 'deploy');
                return ;
            }

            if (thisTab.attr('href').substr(0, 8) == '#JobInfo') {
                timeoutEvent = renderJobInfo(document.getElementById(thisTab.attr('href').substr(1)), thisTab.attr('data-job-id'), 'build');
                return '';
            }

            switch (thisTab.attr('href')) {
                case '#PrDeploy':
                    timeoutEvent = showPrDeploy();
                    return ;
                case '#Deploy':
                    timeoutEvent = showDeploy();
                    return ;
                case '#PrBuild':
                    timeoutEvent = showPrBuilds();
                    return ;
                case '#Build':
                    timeoutEvent = showBuilds();
                    return ;
                case "#Setting":
                    url = '/api/site/' + siteId + '/configure';
                    render = renderSiteConfig;
                    element = document.getElementById('Setting');
                    break;
                case "#DeploySetting":
                    url = '/api/site/' + siteId + '/deploy_configure';
                    render = renderSiteDeployConfig;
                    element = document.getElementById('DeploySetting');
                    break;
                case '#HostType':
                    showHostType();
                    return ;
                case '#Hosts':
                    showHosts();
                    return ;
            }
            if (url !== null) {
                $(element).html("<div>&nbsp;&nbsp;&nbsp;<img src='/static/ajax-loader.gif' /></div>");
                $.getJSON(url, function (data) {
                    if (data.code == 0) {
                        render(element, data.data);
                    } else {
                        alert(data.msg);
                    }
                });
            }
        });
    };

    window.onhashchange = function (e) {
        e.preventDefault();
        hash = clearNj(location.hash);
        if (hash.substr(0, 8) == '#JobInfo') {
            var tab = $('#myTab a:last');
            var href = tab.attr('href');
            if (href.substr(0, 8) == '#JobInfo') {
                if (href != hash) {
                    $(href).remove();
                    tab.remove();
                } else {
                    $('#myTab a[href="' + hash + '"]').tab("show");
                    return ;
                }
            }
            showJobInfo(hash.substr(9));
        } else if(hash.substr(0, 8) == '#JobHost') {
            var tab = $('#myTab a:last');
            var href = tab.attr('href');
            if (href.substr(0, 8) == '#JobHost') {
                if (href != hash) {
                    $(href).remove();
                    tab.remove();
                } else {
                    $('#myTab a[href="' + hash + '"]').tab("show");
                    return ;
                }
            }
            showJobHostInfo(hash.substr(9));
        } else {
            $('#myTab a[href="' + hash + '"]').tab("show");
        }
    };

    initBtn();

    if (location.hash == '') {
        location.hash = '#Build-nj';
    } else if (location.hash.substr(0, 8) == '#JobInfo') {
        showJobInfo(clearNj(location.hash.substr(9)));
    } else if(location.hash.substr(0, 8) == '#JobHost') {
        showJobHostInfo(clearNj(location.hash.substr(9)));
    } else {
            $('#myTab a[href="' + clearNj(location.hash) + '"]').tab("show");
    }

    /*$('#myTab a[href="#Build"]').tab("show");*/
    renderWatchButton(document.getElementById('watchWrapper'), siteId, {{ isWatching ? 'true' : 'false' }});
});




</script>
{% endblock footer_js %}
